{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="my-3"
        action="/question/upload" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.data or '' }}</textarea>
        </div>

   <style>
    .select-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .form-control {
        margin-right: 10px;
    }
</style>

<div class="select-container">
    <select class="form-control" name="subject" id="1">
        <label for="1">야채</label>
        <option value="">상추</option>
        <option value="Option 1">양파</option>
        <option value="Option 2">당근</option>
        <option value="Option 3">배추</option>
    </select>
    <div class="mb-3">
            <label for="content">중량</label>
            <input type="text" id="q" name="text-input" placeholder="텍스트를 입력하세요">
    </div>

    <select class="form-control" name="subject" id="2">
        <option value="">육류</option>
        <option value="Option 1">돼지 고기</option>
        <option value="Option 2">소고기</option>
        <option value="Option 3">양고기</option>
    </select>
    <div class="mb-3">
            <label for="content">중량</label>
            <input type="text" id="w" name="text-input" placeholder="텍스트를 입력하세요">
    </div>
    <select class="form-control" name="subject" id="3">
        <option value="">소스</option>
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
    </select>
<div class="mb-3">
            <label for="content">중량</label>
            <input type="text" id="e" name="text-input" placeholder="텍스트를 입력하세요">
    </div>
</div>

    <div class="select-container">
    <select class="form-control" name="subject" id="4">
        <label for="1">야채</label>
        <option value="">상추</option>
        <option value="Option 1">양파</option>
        <option value="Option 2">당근</option>
        <option value="Option 3">배추</option>
    </select>
    <div class="mb-3">
            <label for="content">중량</label>
            <input type="text" id="q1" name="text-input" placeholder="텍스트를 입력하세요">
    </div>

    <select class="form-control" name="subject" id="5">
        <option value="">육류</option>
        <option value="Option 1">돼지 고기</option>
        <option value="Option 2">소고기</option>
        <option value="Option 3">양고기</option>
    </select>
    <div class="mb-3">
            <label for="content">중량</label>
            <input type="text" id="w2" name="text-input" placeholder="텍스트를 입력하세요">
    </div>
    <select class="form-control" name="subject" id="6">
        <option value="">소스</option>
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
    </select>

    <div class="mb-3">
            <label for="content">중량</label>
            <input type="text" id="e1" name="text-input" placeholder="텍스트를 입력하세요">
    </div>
</div>


    <h1>이미지 업로드</h1>
<!--    <form method="POST" action="/upload" enctype="multipart/form-data">-->
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
<!--        <input type="submit" value="업로드">-->
<!--    </form>-->


       <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}